body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Microsoft YaHei";
    cursor: pointer;
}

#MainDiv {
    width: 100%;
    height: 100%;
}

#mapDiv {
    z-index: 1;
    width: 100%;
    height: 100%;
}

input, b, p {
    margin-left: 5px;
    font-size: 14px;
}

#headDiv {
    position: absolute;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    z-index: 100;
    opacity: 1;
}

#LogoImg {
    width: 161px;
    height: 55px;
    float: left;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 5px;
}

#rightBar {
    margin-top: 15px;
    margin-right: 60px;
    float: right;
    height: 34px;
    width: 5%;
}

.my_btn-group {
    margin-top: 18px;
    float: right;
}

#mine {
    float: right;
    height: 34px;
    width: 34px;
    cursor: pointer;
    background-image: url("../../Resource/Img/TiandituIcon.png");
    background-repeat: no-repeat;
    background-position-x: -23px;
    background-position-y: -315px;
}

.seperator {
    float: right;
    width: 1px;
    height: 20px;
    background-color: #d4d4d4;
    float: right;
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
}

#mainMenuBtn {
    float: right;
    height: 34px;
    width: 34px;
    cursor: pointer;
    background-image: url("../../Resource/Img/TiandituIcon.png");
    background-repeat: no-repeat;
    background-position-x: -23px;
    background-position-y: 9px;
}

#side_bar {
    z-index: 1000;
    background: aqua;
    position: absolute;
    width: 530px;
    height: 100%;
    top: 61px;
    left: 0px;
    background: #fff;
    border-right: 1px solid #aaa;
    -webkit-transition: left .5s ease;
    transition: left .5s ease;
    z-index: 6;
    box-shadow: 1px 0 5px rgba(0,0,0,.5);
    border-collapse: separate;
}

#handlerDiv {
    width: 2px;
    height: 100%;
    float: right;
    cursor: col-resize;
    background-color: black;
}

#side_barController {
    position: absolute;
    width: 20px;
    height: 40px;
    background: hsla(0,0%,100%,.6);
    top: 9px;
    right: -22px;
    border: 1px solid #aaa;
    border-left: none;
    cursor: pointer;
    display: block;
    -webkit-transition: .2s;
    transition: .2s;
    cursor: pointer;
    background-image: url("../../Resource/Img/TiandituIcon.png");
    background-repeat: no-repeat;
    background-position-x: -515px;
    background-position-y: -233px;
}

.ToolBox {
    text-align: center;
}

/*登录模态框的位置*/
.modal-title.logIn {
    text-align: center;
}

.img-responsive {
    border-radius: 100px;
    margin: 0 auto;
}

#SearchMainTable {
    /*position: absolute;*/
    left: 0px;
    top: 0px;
    border: 1px;
    width: 95%;
}

tr {
    height: 40px;
}
#SearchDiseaseInfoDiv {
    width: 90%;
    height: 500px;
    margin: 0px;
}
#SearchDiseaseInfoTable {
    position: absolute;
    width: 95%;
}
#LoadingGif {
    width: 320px;
    height: 240px;
    position: absolute;
}
